{% load widget_tweaks %}
{% load i18n %}

<head>
    <title>New Patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            max-width: 50rem;
            margin: 2rem auto;
            align-content: center;
        }
        @media (max-width: 54rem) {
            body {
                margin: 2rem 2rem 2rem 2rem;
            }
        }
        .lang {
            background: none;
            border: none;
            border-radius: 0;
            padding: 0 .5rem 0 0;
            color: #5993bb;
            cursor: pointer;
            margin-bottom: .5rem
        }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <h1>{% trans "Welcome to Flushing Eyes!" %}</h1>

    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <div class="languages">
        {% for language in languages %}
            {# Modified from https://stackoverflow.com/a/33880971/ #}
            {% if language.code != LANGUAGE_CODE %}
                <form action="{% url 'set_language' %}" method="post" style="display: inline">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <input type="hidden" name="language" value="{{ language.code }}">
                    <input type="submit" value="{{ language.name_local }}" class="lang">
                </form>
            {% endif %}
        {% endfor %}
    </div>

    <form action="/thanks/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <strong>{{ form.first_name.label_tag }}</strong>
            {% if form.is_bound %}
                {% if form.first_name.errors %}
                    {% render_field form.first_name class="form-control is-invalid" %}
                    {% for error in form.first_name.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.first_name class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.first_name class="form-control" %}
            {% endif %}
            {% if form.first_name.help_text %}
                <small class="form-text text-muted">{{ form.first_name.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            <strong>{{ form.last_name.label_tag }}</strong>
            {% if form.is_bound %}
                {% if form.last_name.errors %}
                    {% render_field form.last_name class="form-control is-invalid" %}
                    {% for error in form.last_name.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.last_name class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.last_name class="form-control" %}
            {% endif %}
            {% if form.last_name.help_text %}
                <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            <strong>{{ form.dob.label_tag }}</strong>
            {% if form.is_bound %}
                {% if form.dob.errors %}
                    {% render_field form.dob class="form-control is-invalid" type="date" %}
                    {% for error in form.dob.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.dob class="form-control is-valid" type="date" %}
                {% endif %}
            {% else %}
                {% render_field form.dob class="form-control" type="date" %}
            {% endif %}
            {% if form.dob.help_text %}
                <small class="form-text text-muted">{{ form.dob.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.gender.label_tag }}
            {% if form.is_bound %}
                {% if form.gender.errors %}
                    {% render_field form.gender class="form-control is-invalid" %}
                    {% for error in form.gender.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.gender class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.gender class="form-control" %}
            {% endif %}
            {% if form.gender.help_text %}
                <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            <strong>{{ form.phone.label_tag }}</strong>
            {% if form.is_bound %}
                {% if form.phone.errors %}
                    {% render_field form.phone class="form-control is-invalid" %}
                    {% for error in form.phone.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.phone class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.phone class="form-control" %}
            {% endif %}
            {% if form.phone.help_text %}
                <small class="form-text text-muted">{{ form.phone.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.phone_2.label_tag }}
            {% if form.is_bound %}
                {% if form.phone_2.errors %}
                    {% render_field form.phone_2 class="form-control is-invalid" %}
                    {% for error in form.phone_2.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.phone_2 class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.phone_2 class="form-control" %}
            {% endif %}
            {% if form.phone_2.help_text %}
                <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {% if form.is_bound %}
                {% if form.email.errors %}
                    {% render_field form.email class="form-control is-invalid" %}
                    {% for error in form.email.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.email class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.email class="form-control" %}
            {% endif %}
            {% if form.email.help_text %}
                <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.address.label_tag }}
            {% if form.is_bound %}
                {% if form.address.errors %}
                    {% render_field form.address class="form-control is-invalid" %}
                    {% for error in form.address.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.address class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.address class="form-control" %}
            {% endif %}
            {% if form.address.help_text %}
                <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
            {% endif %}
        </div>
        <div>
            The Practice provides this form to comply with the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the Telephone Consumer Protection Act of 1991
            (TCPA). Our notice of Privacy Practices provides information about how we may use and disclose protected health information about you.
            <ul>
                <li>Protected health information (PHI) may be disclosed or used for treatment, payment, or health care operations;</li>
                <li>The Practice has a Notice of Privacy Practices and that the patient has the opportunity to review this Notice;</li>
                <li>The Practice reserves the right to change the Notice of Privacy Practices;</li>
                <li>The patient has the right to restrict the uses of their information but the Practice does not have to agree with those restrictions;</li>
                <li>The patient may revoke this Consent in writing at any time and all future disclosures will then cease;</li>
                <li>The Practice may conduct treatment upon the execution of the Consent.</li>
                <li>The Practice may send the patient text message reminders about when their insurance benefits are available to use and related information, sent by an automatic or non-automatic telephone dialing system, regardless of whether their phone number is on the National Do Not Call Registry. Consent to this term is not a condition of purchase. You can opt out at any time.</li>
            </ul>
        </div>
        <div class="form-check">
            <input type="checkbox" id="id_{{ form.consent_hipaa.name }}" name="{{ form.consent_hipaa.name }}" class="form-check-input" checked>
            <strong><label for="id_consent_hipaa">{% trans "I consent to the HIPAA privacy policy stated above." %}</label></strong>
        </div>
        <div class="form-check">
            <input type="checkbox" id="id_{{ form.consent_tcpa.name }}" name="{{ form.consent_tcpa.name }}" class="form-check-input" checked>
            <strong><label for="id_consent_tcpa">{% trans "I'd like to receive text message reminders about my insurance benefits." %}</label></strong>
        </div>
        <label for="history">{% trans "Do you have history of:" %}</label>
        <div id="history">
            <div class="form-check">
                <input type="checkbox" id="id_diabetes" name="diabetes">
                <label for="id_diabetes">{% trans "Diabetes" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="id_hypertension" name="hypertension">
                <label for="id_hypertension">{% trans "Hypertension" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="id_hypercholesterolemia" name="hypercholesterolemia">
                <label for="id_hypercholesterolemia">{% trans "Hypercholesterolemia" %}</label>
            </div>
            <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
        </div>
    </form>
</body>
</html>